HTTP header values verifier is laxer than what's advised in the RFCs

### Version

I use Vert.x 4.2.4

### Issue description
The header field value validation does not follows the HTTP/1.1 and HTTP/2.0 specification. Thus it accepts illegal characters.

### The RFCs

The [HTTP 1.1 spec says](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2) : 
> header-field   = field-name ":" OWS field-value OWS
> field-name     = token
> field-value    = *( field-content / obs-fold )
> field-content  = field-vchar [ 1*( SP / HTAB ) field-vchar ]
> field-vchar    = VCHAR / obs-text
>
> obs-fold       = CRLF 1*( SP / HTAB )
>                ; obsolete line folding
>                ; see Section 3.2.4

In the [ABNF RFC](https://datatracker.ietf.org/doc/html/rfc5234#appendix-B.1), we can read that : 
> VCHAR          =  %x21-7E
>                         ; visible (printing) characters
And later in the [HTTP/1.1 RFC](https://datatracker.ietf.org/doc/html/rfc7230#appendix-B), we can read that : 
> obs-text = %x80-FF

And the [HTTP/2.0 spec](https://datatracker.ietf.org/doc/html/rfc7540#section-10.3) says :
> Similarly, HTTP/2 allows header field values that are not valid.
> While most of the values that can be encoded will not alter header
> field parsing, carriage return (CR, ASCII 0xd), line feed (LF, ASCII
> 0xa), and the zero character (NUL, ASCII 0x0) might be exploited by
> an attacker if they are translated verbatim.  Any request or response
> that contains a character not permitted in a header field value MUST
> be treated as malformed (Section 8.1.2.6).  Valid characters are
> defined by the "field-content" ABNF rule in Section 3.2 of [RFC7230].

### Conclusion from the RFCs

For both HTTP/1.1 and HTTP/2.0 versions, bytes allowed for header value are : CR (0x0D), LF (0x0A), SP (0x20), HTAB (0x09) and ranges 0x21 to 0x7E and 0x80 to 0xFF (although considered as obsolete)
Moreover the structure is important too.

### What's existing

1. When received from the wire : they are read, byte by byte, as Latin-1 (ISO-8859-1) encoded and put into a Java String. Otherwise ... well header values are stored into java Strings.
2. Header values are checked thanks to [io.vertx.core.http.impl.HttpUtils#validateHeaderValue](https://github.com/eclipse-vertx/vert.x/blob/bc01b838203b690f4e43c1948d9162ed2b9ee969/src/main/java/io/vertx/core/http/impl/HttpUtils.java#L783) which is only verifying a subset of the RFC's limitations.
3. When sending over the wire : they are encoded from Java String to Latin-1 (ISO-8859-1) to be sent over the wire and any character not fitting in 1 byte is transformed to '?' (0x3F).

### Conclusion from the existing

- The Latin-1 conversion is OK, that's been obsoleted but it's here for historical reasons.
- The multibyte character conversion to '?' seems legitimate, although Vert.x could choose to fail to send the request/response instead (or to specify that in some doc/javadoc)
- But the character validation is not strict enough according to RFCs.

### How to reproduce 
This method : [io.vertx.core.http.impl.HttpUtils#validateHeaderValue](https://github.com/eclipse-vertx/vert.x/blob/bc01b838203b690f4e43c1948d9162ed2b9ee969/src/main/java/io/vertx/core/http/impl/HttpUtils.java#L783) is accessible for testing, so one can unit test it.


can you provide a test with HttpClient and HttpServer for this ?

It's quite hard to test them at this high level, because they will go through header value validation themselves.

But we could only add some values to the existing `Http1xTest#testHeaderValueValidation` : 
```java
  @Test
  public void testHeaderValueValidation() {
    List<String> invalid = Arrays.asList(
      "\u0000", "\u0001", "\u0002", "\u0003", "\u0004", "\u0005", "\u0006", "\u0007", "\u0008", /* HTAB */ /* LF */
      "\u000b", "\u000c", /* CR  */ "\u000e", "\u000f", "\u0010", "\u0011", "\u0012", "\u0013", "\u0014", "\u0015",
      "\u0016", "\u0017", "\u0018", "\u0019", /* SP */
      /* u0021-u007e */
      "\u007F",
      /* u0080-u00FF obsolete but still accepted */
      "\r\n3", "\r3", "\n3", "\n\r");
    for (String test : invalid) {
      try {
        HttpUtils.validateHeaderValue(test);
        fail("String \"" + test + "\" should not be valid");
      } catch (IllegalArgumentException e) {
        // Ok
      }
    }
    List<String> valid = Arrays.asList("\r\n\t", "\r\n ", "\n\t", "\n ", "\u0021", \u007e", "\u0080", "\u00ff", "a z", "a\u0009z);
    for (String test : valid) {
      HttpUtils.validateHeaderValue(test);
    }
  }
```

By the way, this test is not HTTP/1.x specific now, it applies also to HTTP/2.0

thanks, yes it should be moved to HttpTest class I guess

Thanks for merging ! Should this issue be closed now ?

actually it has not been backported to 4.2 yet