Use base64url when converting to/from JSON

When converting data objects to/from JSON, byte arrays are encoded/decoded to/from `base64`.

But the [I-JSON Message Format RFC](https://tools.ietf.org/html/rfc7493#section-4.4) actually recommends to use `base64url`.

> When it is required that an I-JSON protocol element contain arbitrary binary data, it is RECOMMENDED that this data be encoded in a string value in base64url; see Section 5 of [RFC4648].

Closing won't fix as discussed on vertx-dev ML.