Allow ping handler to be set on ServerWebScoket

#### Describe the feature

Allow a ping handler to be specified on a ServerWebSocket (similar to pongHandler)

#### Use cases

Currently the ServerWebSocket responds to a ping with a pong:

// Echo back the content of the PING frame as PONG frame as specified in RFC 6455 Section 5.5.2
 conn.writeToChannel(new PongWebSocketFrame(frame.getBinaryData().copy()));

We've had a use case where a user (either inadvertently or deliberately) flooded our websockets with 1000s of pings/sec. It would be nice to be able to monitor the number of pings a client web socket is sending.

We can get hold of this information if we add a framehandler to the websocket. The only issue with that is if you want to specify a text/binary message handler, the frame handler is overridden.


#### Contribution

Happy to supply a PR if required.

I think we could check in the `frameHandler(...)` method if the current frame handler is not null and is an instance of `FrameAggregator` and swap it to preserve the current frame handler. PR is welcome @trevorurquhart 

Apologies, but I'm not totally following. Wouldn't I still lose my frame handler with this:

  serverWebSocket
        .frameHandler(myFrameHandler)
        .textMessageHandler(myTextHandler) //Replaces my frame handler with FrameAggregator
  
The other issue with using a frame handler to monitor pings is that I have to re-implement FrameAggregator and attach text/binary handlers to my implementation.

Is there something I'm missing which makes this problematic?:

  serverWebSocket
        .textMessageHandler(myTextHandler)
        .pingHandler(myPingHandler)

Actually it looks simpler to simply have a field FrameAggregator in addition of the frameHandler : https://github.com/eclipse-vertx/vert.x/pull/4799