HttpServerResponse.putHeader() incompatible with RFC 6265

RFC 6265, section 3, page 5:

>   Origin servers SHOULD NOT fold multiple Set-Cookie header fields into
>   a single header field.  The usual mechanism for folding HTTP headers
>   fields (i.e., as defined in [RFC2616]) might change the semantics of
>   the Set-Cookie header field because the %x2C (",") character is used
>   by Set-Cookie in a way that conflicts with such folding.

Currently, the HttpServerResponse.putHeader(name, value) method overwrites any prior header field value for the specified header field name.  It is not possible using HttpServerResponse to issue multiple header fields with the same field name, and is therefore not possible to set multiple cookies in response to a single request and be compliant with RFC 6265.

Given that "Set-Cookie" is a special case for HTTP header handling, I propose that HttpServerResponse accommodate this special handling via the addition of a setCookie() method.
